@font-face {
    font-family: irancellFont;
    src: url(./fonts/Irancell/ایرانسل.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "irancellFont";
    direction: rtl;
}

/*nav*/

nav{
    display: flex;
    align-items: center;
    padding: 2.5rem ;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 0 1rem;
    cursor: pointer;
    color: #3f3f3f;
}

nav i{
   font-size: 32px;
   visibility: hidden;
}

/*nav responsive*/

@media (max-width:1200px){
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav i{
        visibility: visible;
    }
    nav ul{
        display: none;
    }

}

@media (max-width:1024px){
    nav{
        padding: 16px;
    }
}

@media (max-width:768px){
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav img{
        visibility: visible;
    }
}
/*header*/


header{
    
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
   
}

.landing-header{
    width: 50vw;
 
    background-color: #29c266;
    display: flex;
    flex-direction: column;
    padding: 20px 80px 10px 25px;
    color: #fff;
    object-fit: cover;
}

.h1-header{
    font-size: 36px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: right;
}

.p-header{
    padding: 16px 0;
    line-height: 2.5rem;
    font-size: 20.3px;
    opacity: 0.9;
    margin-bottom: 16px;
}

.img-header{
    width: 50vw;
    background-image: url("./img/h1.png"); 
    background-repeat: no-repeat;
}

header .landing-header .form-header{
   margin-bottom: 48px;
}


header .landing-header .form-header input{
    padding: 10px 0;
    width: 200px;
    background-color: inherit;
    border: none;
    border-bottom: #fff solid 1px;
    outline: none;
}


header .landing-header .form-header input::placeholder{
    color: #fff;
    font-size: 15px;
}

header .landing-header .form-header input:focus{
    color: #fff;
}

header .landing-header .form-header button{
    padding: 10px 25px;
    margin-right: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: inherit;
    color: #21aa58;
}


header .btn-header{
   width: 40%;
   height: 48px;
   font-size: 14px;
   color: rgb(255, 255, 255);
   border: 1px solid rgb(255, 255, 255);
   padding: 0px 8px;
   border-radius: 6px;
   background-color: inherit;
   font-family: inherit;
}

header .btn-header:hover{
    background-color: #42aa6b;
    cursor: pointer;
}

/*header responsive*/

@media (max-width:1200px) {
    header{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* height: 90vh; */
    }
    .landing-header{
        width:95%;
        padding: 50px;
    }

    /* .img-header{
        display: block;
    } */

    header .landing-header .form-header{
        display: none;
    }

    header .btn-header{
        width: 100%;
        background-color: #fff;
        color: #3f3f3f;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .btn-header:hover{
        background-color: #fff;
    }
}

@media (max-width:768px){
    /* header{
        height: 60vh;
    } */
    .h1-header{
        font-size: 26px;
    }
    .p-header{
        font-size: 20px;
    }
}

@media (max-width:380px){
    /* header{
        height: 100vh;
    } */
}
/*main*/

main .header-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 32px 10%;
}


main .header-main img{
    margin: 5px 0;
    width: 150px;
    cursor: pointer;
}

/*main section*/

.section-mains{
       background: #f2f5f8;
       padding: 5% 10%;
       margin-bottom: 4.5rem;
}


.h1-section{
    text-align: center;
}

.article-class{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section article{
    margin-top: 15px;
    background: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width:30%;
    border-radius: 10px;
    line-height: 20px;
}
.img-article{
    width: 30%;
    /* padding-left: 10px; */
}


.content-article{
    width: 70%;
}

.img-article > img{
    width: 62px;
    height: 62px;
}

section article p{
    margin-top: 5px;
    font-size: 14px;
    color: #a3a3a3;
}


.section-slider {
    display: flex;
    justify-content: center;
    margin: 0 10% 5rem;
}

.section-slider img{
    /* width: 70vw; */
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


@media (max-width:768px){
    section article{
        width: 80%;
        padding: 0 auto;
    }
    .section-slider{
        margin: 0 5% 5rem;
    }
}


/*content box*/

.content-box{
    display:flex;
    width: 100%;
}

.content-box .img-content-box{
    width: 50%;
}

.content-box .img-content-box img{
    width: 100%;
    /* min-height: 450px; */
}

.content-box .ct-content-box{
    padding: 30px;
    width: 50%;
}

.content-box .ct-content-box h2{
    color: rgb(64, 64, 64);
    margin-bottom: 3rem;
}

.content-box .ct-content-box p{
    color: #3f3f3f;
    font-size: 20px;
    line-height: 30px;
    /* word-spacing: 15px; */
}

@media (max-width:1100px){
    .content-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .content-box .img-content-box{
        width: 100%;
    }
    .content-box .ct-content-box{
        width: 100%;
    }
}

/*fot*/
.section-fot{
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
}

.section-fot .fot{
    width: 25%;
}
.fot .img-fot{
    background: #f2f5f8;
    margin: 0 20px;
    padding: 5px 20px;
    border-radius: 30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}

.section-fot .fot .h2-fot{
    padding: 5px 25px;
    font-size: 1rem;
    color: rgb(64, 64, 64);
    font-family: inherit;
}

.section-fot .fot .p-fot{
    padding: 5px 25px;
    font-size: 0.9rem;
    line-height: 20px;
    word-spacing: 5px;
    color: #3f3f3f;
}

@media (max-width:1100px){
    .section-fot{
        display: flex;
       flex-direction: column;
       position: relative;
       top: 0;
    }
    .section-fot .fot{
        width: 100%;
    }
    .fot .img-fot{
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
    .section-fot .fot .h2-fot{
        margin-top: 8px;
    }
    .section-fot .fot .p-fot{
        margin-top: 8px;
    }
}

/*section-mains2*/

.section-mains2{
    background: #f2f5f8;
    padding: 30px;
    width: 100%;
}

.h1-mains2{
    text-align: center;
    color: #333333;
}

.p-mains2{
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    color: rgb(64, 64, 64);
}

.btn-mains2{
    display: block;
    margin: 50px auto;
    padding: 10px 30px;
    background-color: #29c266;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    font-family: inherit;
}


.v-mains2{
    width: 80%;
    margin-top: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.box-mains{
    display: flex;
    justify-content: center;
    margin: 16px auto;
    width: 83%;
}

.boxes-mains{
  display: flex;
  background-color: #fff;
  margin: 0 20px;
  padding:40px 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.content-box-mains2 .h2-box-mains2{
    margin-bottom: 20px;
    font-size: 15px;
}

.content-box-mains2 .p-box-mains2{
    font-size: 10px;
    line-height: 20px;
    color: rgb(64, 64, 64);
}
.content-box-mains2{
    width: 50%;
}
.img-boxmains2{
    width: 50%;
}

@media (max-width:768px){
    .box-mains{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    .boxes-mains{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }
}


/*footer*/

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    color: #3f3f3f
}

footer .list-footer ul{
    list-style: none;
    display: flex;
    font-size: 15px;
}

footer .list-footer ul li{
    padding: 0 5px;
    cursor: pointer;
}

footer .icon-footer i{
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
}

@media (max-width:768px){
    footer .list-footer ul{
        font-size: 10px;
    }
    footer .icon-footer i{
        font-size: 15px;
    }
}


